
/* Formato para el footer */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 80px 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-item {
    display: flex;
    align-items: flex-start;
    padding: 0 15px;
    cursor: pointer;
    width: 25%;
}

.icon-container {
    margin-right: 10px;
}

.icon {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
}

.title {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav-items {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
        margin-bottom: 20px;
    }
}