<div [class.scrolled]="isScrolled" [class.hide-header]="hideHeader">
    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div nz-row nzJustify="space-between" nzAlign="middle">
                <div nz-col>
                    <a nz-dropdown [nzDropdownMenu]="languageMenu" class="language-selector" nzPlacement="bottomLeft">
                        {{ selectedLanguage.name }} <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #languageMenu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang)">
                                {{ lang.name }}
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
                <div nz-col>
                    <div class="top-links">
                        <a routerLink="/servicio-cliente">Servicio al Cliente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <div class="main-header">
        <div class="container">
            <div nz-row nzJustify="space-between" nzAlign="middle">
                <!-- Logo -->
                <div nz-col class="logo">
                    <a routerLink="/welcome">
                        <img src="https://i.postimg.cc/Z5MYtMdF/Logo-Numer-blanco-letras.png" alt="logo numer"
                            style="width: 200px;">
                    </a>
                </div>

                <!-- Mobile Menu Toggle -->
                <div nz-col class="mobile-menu-toggle" (click)="toggleMobileMenu()">
                    <i nz-icon [nzType]="mobileMenuOpen ? 'close' : 'menu'" style="color: aliceblue;"></i>
                </div>

                <!-- Navigation -->
                <div nz-col nzFlex="auto" class="nav-container" [class.mobile-menu-open]="mobileMenuOpen">
                    <ul nz-menu nzMode="horizontal" class="nav-menu">
                        <li nz-menu-item *ngFor="let item of navItems">
                            <a [routerLink]="item.link" [fragment]="item.fragment" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" (click)="closeMenuOnMobile()">
                                {{ item.label }} 
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Icons -->
                <div nz-col class="header-icons-container">
                    <div class="header-icons">
                        <a class="icon-link">
                            <i class="bi bi-search"></i>
                        </a>
                        <a class="icon-link" routerLink="/carrito">
                            <nz-badge [nzCount]="cartCount" >
                                <i class="bi bi-bag" style="font-size: 18px; color: aliceblue;"></i>
                                
                            </nz-badge>
                        </a>
                        <a class="icon-link">
                            <i class="bi bi-person"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>