/* admin-layout.component.scss */
.admin-layout {
    min-height: 100vh;
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    transition: all .3s;

    img {
        display: inline-block;
        height: 32px;
        width: 32px;
        vertical-align: middle;
        margin-right: 8px;
    }

    h1 {
        display: inline-block;
        margin: 0 0 0 8px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        vertical-align: middle;
    }
}

.menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

.header-actions {
    display: flex;
    align-items: center;
    padding-right: 24px;
    gap: 16px;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.username {
    font-size: 14px;
}

nz-content {
    margin: 24px;
    padding: 24px;
    background: #fff;
    min-height: 280px;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 280px;
}

nz-footer {
    text-align: center;
}